server:
  port: 8080

management:
  endpoints:
    web:
      base-path: /

sharding-db:
  connections:
    - url: "jdbc:postgresql://localhost:5432/postgres"
      username: "postgres"
      password: "secret"
    - url: "jdbc:postgresql://localhost:5433/postgres"
      username: "postgres"
      password: "secret"
    - url: "jdbc:postgresql://localhost:5434/postgres"
      username: "postgres"
      password: "secret"

spring:
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: myGroup
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    template:
      default-topic: "billing"